body {
    min-width: 400px;
    background-image: linear-gradient(white, rgb(232, 236, 248), rgb(200, 200, 255))
}

.my-nav {
    z-index: 10;
    width: 100%;
}



#author {
    position: fixed;
    right: 2%;
    width: 30vw;
    top: 41%;
}

@media only screen and (max-width: 1300px) {
    #author {
        position: relative;
        width: 100%;
        right: 0%;
    }
}

.md8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}


@media only screen and (max-width: 1300px) {
    .md8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.sm8 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}


@media only screen and (max-width: 900px) {
    .sm8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.mxauto {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}


@media only screen and (max-width: 900px) {
    .mxauto {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}